.characterCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  padding: 20px;
}

.avatar__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:white;
  padding: 5px;
}

