.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  padding: 20px;
}

.create__header {
  margin-bottom: 60px;
  margin-top: 20px;
}

.create__header > h1 {
  font-size: 4rem;
  background-color:rgb(42, 191, 218);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px;
  color: white;
}

.create__game__button {
  margin-bottom: 80px;
  text-decoration: none;
}

/* #length__of__game__select {
  min-width: "800px"
}

#category__select {
  min-width: "800px"
}

#difficulty__select {
  min-width: "800px"
} */