.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  padding: 20px;
}

.home__header {
  margin-bottom: 80px;
  margin-top: 20px;
}

.home__header > h1 {
  font-size: 5rem;
  background-color:rgb(42, 191, 218);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 20px;
  color: white;
}

.home__button {
  margin-bottom: 80px;
  text-decoration: none;
}

.home__button > Button {
  background-color:rgb(42, 191, 218);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5rem;
}
