.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  padding: 20px;
}

.join__header {
  font-size: 4rem;
  background-color:#2abfda;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px;
  color: white;
}